<% include header %>
                                      <!-- About Section -->
     <h2 class="aboutHeading">About Section</h2>
     <div class="uk-column-1-2@m uk-column-1-1@xs uk-column-divider">
      <p class="aboutPara">An interactive AI powered self-learning personal assistant which aims to thin the line between Human Intelligence and Artificial Intelligence. Killy interacts with the users to understand their Socio-Cultural needs and make recommendation based on that. It enables users to access the information in any language due to its multi linguistic capacity. At the moment, it focuses at helping incoming travelers into Singapore.</p>
  
      <p class="aboutPara1">Killy will be available for booking of tickets, multiple types of reservations and searching for local information. We aim to provide a seamless user experience which reduces their inhabitance towards usage of technology.In an era, where everything is at your fingertips, we now provide you, KILLY, your own personal assistant to fulfill all your needs and make your life easier and faster.</p>
  
      <!-- <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p> -->
  </div>                              
  </body>
</html>
