<% include header %>

<!-- Cart Items -->
<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Packages</th>
      <th>Price</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Village Hotel</td>
      <td>SGD 640</td>
      <td>Table Data</td>
    </tr>
    <tr>
      <td>Clark Hotel</td>
      <td>SGD 500</td>
      <td>Table Data</td>
    </tr>
    <tr>
      <td>Garden By the Bay</td>
      <td>SGD 749</td>
      <td>Table Data</td>
    </tr>
  </tbody>
</table>

<!-- Checkout Button -->
<button
  class="uk-button uk-button-primary"
  onclick="window.location.href='/checkOut'"
>
  Checkout
</button>
