<% include header %>
                                         <!-- ********Contact Section****** -->
  <div class="uk-section-default">
    <div class="uk-section uk-light uk-background-cover" style="background-image: url(Images/ContactPage4.jpg)">
      <div class="uk-container">
        <h2 class="contactHeading">Contact Us</h2>      
          <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div>                            
                <p class="contactPara">AGi Technosys Pte Ltd<br>Block 79, AStart Central,<br>Ayer Rajah Crescent, #05-03 ,<br>Singapore 139955<br>Ph: +65 9653 1921<br>Email : <a>hellokilly.ai</a></p>
            </div>
            <div>
            <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-card-large uk-light">
                <h2 class="uk-card-title" style="text-align:center;">Leave Message</h2>
                <form>
                    <fieldset class="uk-fieldset">
                      <legend class="uk-legend">Full Name</legend>
                          <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                              <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" placeholder="Enter Your Name">
                            </div>
                          </div>
                      <legend class="uk-legend">Email</legend>
                          <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                              <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                <input class="uk-input" type="email" placeholder="example@gmail.com">
                            </div>
                          </div>
                          <legend class="uk-legend">Message</legend>
                          <div class="uk-margin">
                            <textarea class="uk-textarea" rows="5" placeholder="Enter Message Here.."></textarea>
                          </div>
                          <a href="semester.html">
                            <button class="uk-button uk-button-default">Send</button>
                          </a>
                    </fieldset>
                </form> 
            </div>                           
          </div>                     
        </div>    
      </div>
    </div>
  </div>        
</body>
</html>
