<% include header %>

<!-- SLider -->
<div
  class="uk-position-relative uk-visible-toggle uk-light"
  tabindex="-1"
  uk-slideshow="animation: push; ratio: 8:3"
>
  <ul class="uk-slideshow-items">
    <li>
      <div
        class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left"
      >
        <img src="Images/TopDestinations/dublin-skyline.jpg" alt="" uk-cover />
      </div>
      <div class="uk-position-center uk-panel">
        <div class="uk-margin">
          <form class="uk-search uk-search-default uk-search-large">
            <a href="#" uk-search-icon></a>
            <input
              class="uk-search-input"
              type="search"
              placeholder="Search..."
            />
          </form>
        </div>
      </div>
    </li>
    <li>
      <div
        class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-top-right"
      >
        <img src="Images/TopDestinations/bali2.jpg" alt="" uk-cover />
      </div>
      <div class="uk-position-center uk-panel">
        <div class="uk-margin">
          <form class="uk-search uk-search-default uk-search-large">
            <a href="#" uk-search-icon></a>
            <input
              class="uk-search-input"
              type="search"
              placeholder="Search..."
            />
          </form>
        </div>
      </div>
    </li>
    <li>
      <div
        class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left"
      >
        <img src="Images//TopDestinations/kathmandu.jpeg" alt="" uk-cover />
      </div>
      <div class="uk-position-center uk-panel">
        <div class="uk-margin">
          <form class="uk-search uk-search-default uk-search-large">
            <a href="#" uk-search-icon></a>
            <input
              class="uk-search-input"
              type="search"
              placeholder="Search..."
            />
          </form>
        </div>
      </div>
    </li>
  </ul>

  <a
    class="uk-position-center-left uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-previous
    uk-slideshow-item="previous"
  ></a>
  <a
    class="uk-position-center-right uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-next
    uk-slideshow-item="next"
  ></a>
  <div class="uk-position-bottom-center uk-position-small">
    <ul class="uk-dotnav">
      <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
      <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
      <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
    </ul>
  </div>
</div>

<!-- Image Gallery -->

<h1 class="uk-heading-bullet uk-margin-large-left">Top Destinations</h1>
<div class="uk-section uk-section-muted">
  <div class="uk-container uk-container-medium">
    <div class="uk-child-width-1-4@m uk-grid-match" uk-grid>
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img
              src="Images/TopDestinations/singapore2.jpg"
              class="imgHome"
              alt=""
            />
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Singapore</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <button
              class="uk-button uk-button-default"
              onclick="window.location.href='/singapore'"
            >
              Search Package
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img
              src="Images/TopDestinations/MALAYSIA1.jpg"
              class="imgHome"
              alt=""
            />
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Malaysia</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <button class="uk-button uk-button-default">
              Search Package
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img
              src="Images/TopDestinations/Indonesia.jpg"
              class="imgHome"
              alt=""
            />
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Indonesia</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <button class="uk-button uk-button-default">
              Search Package
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img src="Images/TopDestinations/UAE.jpg" class="imgHome" alt="" />
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">UAE</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <button class="uk-button uk-button-default">
              Search Package
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img
              src="Images/TopDestinations/VietnamCambodia.jpg"
              class="imgHome"
              alt=""
            />
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Vietnam</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <button class="uk-button uk-button-default">
              Search Package
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img
              src="Images/TopDestinations/thailand-temple-etiquette.jpg"
              class="imgHome"
              alt=""
            />
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Thailand</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <button class="uk-button uk-button-default">
              Search Package
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img
              src="Images/TopDestinations/Philippines.jpg"
              class="imgHome"
              alt=""
            />
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Philippines</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <button class="uk-button uk-button-default">
              Search Package
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top">
            <img
              src="Images/TopDestinations/Trafalgar Square , London Bridge.jpg"
              class="imgHome"
              alt=""
            />
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">United Kingdom</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <button class="uk-button uk-button-default">
              Search Package
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<% include footer %>
