/* NavBar */
.uk-navbar-container.uk-light:not(.uk-navbar-transparent):not(.uk-navbar-primary) {
  background: #2493eb;
}
.siteName {
  margin-top: 7%;
}
#mobile-navbar .uk-offcanvas-bar {
  box-shadow: 2px 0 5px 0 #2493eb;
}
#mobile-navbar li:nth-child(1),
#mobile-navbar li:nth-child(2),
#mobile-navbar li:nth-child(3) {
  border-left: unset;
}
#mobile-navbar li {
  padding-left: 5px;
  border-left: 2px solid transparent;
}
#mobile-navbar li.uk-active {
  padding-left: 5px;
  border-left: 2px solid #2493eb;
}
.uk-offcanvas-bar {
  background-color: #2493eb;
}

.uk-sticky-fixed {
  box-shadow: 0 1px 5px 0 #2493eb;
}

/* ******************************** */
.imgHome {
  height: 200px;
  width: 100%;
}
.imgPopular {
  height: 250px;
  width: 100%;
}
.uk-heading-bullet {
  color: grey;
}
.uk-search-input {
  height: 50px !important;
  background-color: white !important;
  color: rgb(0, 84, 180) !important;
  font-size: 24px !important;
  border-radius: 5px;
}
input::placeholder {
  color: rgb(0, 84, 180) !important;
  /* font-size: 24px !important; */
  margin-top: 30% !important;
}
.uk-search-icon {
  color: rgb(0, 84, 180) !important;
}
.uk-heading-bullet::before {
  border-left: 5px solid skyblue;
}
.popularHeading {
  font-size: 16px;
  font-weight: 700;
}
.RsColor {
  color: rgb(0, 86, 167);
  padding: 2px 8px;
  border-radius: 5px;
  background-color: WHITE;
  font-weight: 700;
}
.fa {
  font-size: 40px;
  padding: 1%;
}

/***** About Us ******/
.aboutHeading {
  text-align: center;
}
.aboutPara {
  margin-left: 10%;
  /* margin-right: 5%; */
}
.aboutPara1 {
  margin-right: 10%;
}

/* Contact Us Page */
.contactLeft {
  margin-top: 15%;
  height: 500px;
  margin-left: 15%;
}
.uk-section-default {
  height: 600px !important;
}
/* Contact Us */
.contactHeading {
  font-weight: 600;
}

.contactPara {
  font-weight: 600;
  font-size: 18px;
  color: black;
}
